* {

    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 2rem auto;
}

.box {
    background-color: rgb(180, 195, 195);
    border: 1px solid black;
    min-height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
}

.exemplo-01 {
    grid-template-columns: 30px 60px 90px 120px;
}

.exemplo-02 {
    grid-template-columns: 10% 20% 30% 40%;
}

.exemplo-03 {
    grid-template-columns: 4fr 3fr 2fr 1fr;
}

.exemplo-04 {
    font-size: 25px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    gap: 5px;
    justify-content: center;
    align-content: center;
}