@charset "UTF-8";

/*Gradiente*/

body {
    background-image: linear-gradient(45deg,#9904D9,#C900A3, #E70051,#ff8103,#ffec1e
    );
    background-attachment: fixed; /*o gradiente fica fixo na tela
    /*
    Direção:
    to top
    to botton
    to left
    to right
    ##deg
    */
}


/*representação das cores*/

/*Representação por nomes*/
h1{
    color: black;
    background-color: aqua;
}

/*Representação por códigos Hexadecimais*/
h2 {
    color: #0000ff;
    background-color: #ffffff;
    /*Algarrsmos Hexadecimais: 0 1 2 3 4 5 6 7 8 9 A B C D E F*/
}

/*Representação por Matiz*/
h3 {
    color: hsl(240, 100%, 50%);
    background-color: hsl(100, 20%, 70%);
    /*hsl => (hue, saturation, lightness)*/
}

/*Representação RGB*/
p {
    color: rgb(0, 0, 255);
    background-color: rgb(210, 170, 170);
    /*Os valores vão de 0 até 255*/
}

/*
Sites para criar palhetas de cores:
Adobe color
Paletton
Coolors
*/